<a href="https://colab.research.google.com/github/muntasir399/b5-string-casting/blob/main/batch50string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Testing &= operator
x = 5  # Binary: 0101
x &= 3  # Binary: 0011 -> Result: 0001 (1)
print("1\tAfter &=, x =", x)

# Testing |= operator
x = 5  # Reset x to 5 (Binary: 0101)
x |= 3  # Binary: 0011 -> Result: 0111 (7)
print("2\tAfter |=, x =", x)

# Testing ^= operator
x = 5  # Reset x to 5 (Binary: 0101)
x ^= 3  # Binary: 0011 -> Result: 0110 (6)
print("3\tAfter ^=, x =", x)

# Testing >>= operator
x = 16  # Binary: 10000
x >>= 3  # Shift right by 3 -> Result: 00010 (2)
print("4\tAfter >>=, x =", x)

# Testing <<= operator
x = 2  # Reset x to 2 (Binary: 00010)
x <<= 3  # Shift left by 3 -> Result: 10000 (16)
print("5\tAfter <<=, x =", x)

# Testing := (Walrus Operator)
# Assign and print in a single statement
print("6\tWalrus operator example, x =", (x := 3))

1	After &=, x = 1
2	After |=, x = 7
3	After ^=, x = 6
4	After >>=, x = 2
5	After <<=, x = 16
6	Walrus operator example, x = 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!